---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import TimeLineElement from "../components/cv/TimeLine.astro";
import CVJPCL from "../../public/CVJPCL.jpg";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <Image
    class=""
    format="webp"
    width={1080}
    height={1920}
    src={CVJPCL}
    alt="Profile image"
  />
  <br />
  <center>
    <div class="pb-12 mt-5">
      <a
        href="https:drive.google.comfiled1ugfLp9mU_qUEHnOop4ecPuZ1k1PtnDQrview?usp='sharing"
        >Click Here to Download My CV
      </a>
    </div>
  </center>
</BaseLayout>
